# Node modules
node_modules/

# Next.js build output
.next/


# OS and editor files
.DS_Store
.vscode/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: lockfiles in subfolders
tentwenty/package-lock.json 